Django==5.0.2
django-compat==1.0.15
django-cors-headers==4.3.1
djangorestframework==3.14.0
django-filter==23.5
pymysql==1.1.0
cryptography==41.0.7
django-rest-auth
djangorestframework-simplejwt==5.3.1
python-dateutil
google-cloud-storage
gunicorn==21.2.0
python-decouple==3.8
whitenoise==6.6.0